%h2= @post.title
%p= @post.body
%hr/
- if @post.user == current_user
  = link_to "Edit", edit_post_path(@post), class: "btn btn-default"
  = link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger"
%hr/
= render 'comments/comments'
- if current_user
  = render 'comments/form'
